main{
    display: grid;
    grid-area: main;
}
@media(min-width:768px){
    main {
    img{
        height: 350px;
    }
}

}
@media (min-width:1200px){
    main{
     img{
        height: 500px;
       }
    }
    main{
        background-color: grey;
    }


}