header{
    display: grid;
    grid-area: header;
    background-image: url(../imagenes/trex20.jpg);
    img{
        border-radius: 50%;
    }

 
}
@media(min-width:768px){
    header{
    img{
        padding: 3px;
    }
}

}
@media (min-width:1200px) {
    header{
        height: 300px;
    img{
        height: 150px;
        width: 150px;
        margin-left: 550px;
      }
    }
    header{
        height: 250px;

}
 h3{
    margin-top: 50px;
    
}
 p{
font-weight: bolder;
}
}